body {
	background-color: white;
	font-size: 1em;
	line-height: 2em;
	margin-left: 10%;
	margin-right: 10%;
}


button {
	font-size: 1.3em;
}

textarea {
	width: 100%;
}

table {
	width: 90%;
}

td {
	padding: 10px;
}

.botonActivo {
	background-color: green;
	color: white;
}
.botonInactivo {
	background-color: #e0e0e0;
}